<div class="row">
    <div class="col-xs-12 text-center">
        <h2 class="section-heading">Enter Your requirements</h2>
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 alert alert-danger" ng-if="errorMsg">
            <strong>Error!</strong> {{errorMsg}}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 alert alert-success" ng-if="okMsg">
            <strong>Success!</strong> {{okMsg}}
        </div>
    </div>

    <div class="col-xs-12 text-center">
        <div class="form-group col-xs-3 col-xs-offset-3">
            <label class="control-label">Group Key : {{groupKey}}</label>
        </div>

        <div class="form-group col-xs-3">
            <label class="control-label">Number of points:</label>
            <input min=5 max=20 type="number" class="form-control" style="width:auto; display: inline-block" ng-model="pointsNum">
        </div>
    </div>

    <div class="row">
        <!--<div class="col-xs-2 col-xs-offset-4 form-group">-->
            <!--<h4>User's statuses</h4>-->

            <!--&lt;!&ndash;User statuses&ndash;&gt;-->
            <!--<div ng-repeat="r in [{},{},{}]">-->
                <!--<label class="control-label">username : </label>-->
                <!--<label class="control-label">Ready</label>-->
            <!--</div>-->
        <!--</div>-->

        <div class="col-xs-12">
            <!--ng-repeat on rating here-->
            <amenity-rating class="col-xs-12" ng-repeat="rating in requirements.ratings"
                            remove-item="removeItem($index)" add-item="addItem()" item="rating" amenities="amenities"
                            change-amenity="changeAmenity(value, index)" amenity-index="$index" other-selected-values="otherSelectedValues"></amenity-rating>
        </div>
    </div>

    <!--Add rating here-->
    <div class="row">
        <div class="col-xs-12 text-center">
            <span class="fa-stack fa-2x clickable" ng-click="addItem()">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-plus-square fa-stack-1x fa-inverse"></i>
            </span>
        </div>
    </div>

    <br/>

    <!--Submit requirements-->
    <div class="row" ng-if="!isLeader">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary" ng-click="submit()">Submit Requirements</button>
        </div>
    </div>

    <div ng-if="isLeader" class="row">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary" ng-click="submit()">Search Trip!</button>
        </div>
    </div>

</div>