0<div class="container resultsContainer">
    <h4 class="subheading">Your Requested trip results are:</h4>
    <div>loading pane</div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <select class="form-control"  ng-model="currentPath"
                    ng-options="route.id for route in polylines">
            </select>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            results
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-polyline path="currentPath.path" stroke="currentPath.stroke" visible='currentPath.visible'
                                  geodesic='currentPath.geodesic' fit="true" editable="currentPath.editable" draggable="currentPath.draggable" icons='currentPath.icons'></ui-gmap-polyline>

                <ui-gmap-marker ng-repeat="marker in pathMarkers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            description
        </div>
    </div>
</div>