.clickable {
    cursor: pointer;
}
.requirements {

}

.angular-google-map-container {
    height: 400px;
    width: 500px;
}

div.resultsContainer {
    margin-top: 15px;
    width: 700px;
}

.anchorLabel {
    font-weight: bold;
    font-size: 15px;
}