<!--Get data from db of amenities-->
<div class="row">
    <div class="col-xs-2 col-xs-offset-4" style="margin-top:10px">
        <div class="form-group">
            <!--<select class="form-control"  ng-model="currAmenity" ng-change="changeAmenity({value : currAmenity, index: amenityIndex})"-->
                    <!--ng-options="amenity as amenity for amenity in amenities | duplicatesFilter:amenityIndex:otherSelectedValues">-->

                <!--<option value="" selected="selected">Choose</option>-->
            <select class="form-control" ng-change="changeAmenity({value : currAmenity})" ng-model="item.selectedAmenity">
                <option ng-repeat="amenity in amenities">{{amenity}}</option>
            </select>
        </div>
    </div>

    <!--Star rating directive-->
    <div class="col-xs-3">
        <input type="text" class="rating" data-size="sm" data-show-clear="false" data-show-caption="false" data-step="1" ng-model="item.value">
    </div>

    <!--Remove rating here-->
    <div class="col-xs-1">
        <span class="fa-stack fa-2x clickable" ng-click="removeItem()">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-minus-square fa-stack-1x fa-inverse"></i>
        </span>
    </div>

</div>
