<div class="modal-header">
    <h3 class="modal-title">Create a group</h3>
</div>
<div class="modal-body">
    <form name="createForm">
        <div class="form-group" ng-class="{'has-error': createForm.groupName.$error.required && createForm.groupName.$dirty}">
            <label for="groupName">Group Name</label>

            <span role="alert">
              <span class="error" ng-show="createForm.groupName.$error.required && createForm.groupName.$dirty">
                 <label class="control-label">Required!</label>
              </span>
            </span>

            <input type="text" class="form-control" id="groupName" name="groupName" placeholder="Group Name" ng-model="groupName" required>
        </div>
    </form>
    <div class="row text-center" ng-if="!!groupCode">
        <label class="col-md-12 control-label">{{groupCode}}</label>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="create(groupName)" ng-if="!groupCode">OK</button>
    <button class="btn btn-primary" type="button" ng-click="join()" ng-if="!!groupCode">Join</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>